.button {
    font-size: 1.7rem;
    border-radius: .5rem;
}

.btn-nav {
    color: var(--light-color);
    padding:.5rem 1.5rem;
}

.active,
.btn-nav:hover{
    color:#fff;
    background: var(--green);
}


.btn-body{
    margin-top: 1rem;
    display: inline-block;
    color:var(--white);
    background: var(--black);
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn-body:hover{
    background: var(--green);
    letter-spacing: .1rem;
}